// if screen size less than $breakpoint, use styles
@mixin max-screen($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: #{$screen-xs}) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: #{$screen-sm}) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: #{$screen-md}) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: #{$screen-lg}) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: #{$screen-xl}) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (max-width: #{$screen-2xl}) {
      @content;
    }
  }
}

// if screen size greater than $breakpoint, use styles
@mixin min-screen($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: #{$screen-xs}) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (min-width: #{$screen-sm}) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: #{$screen-md}) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: #{$screen-lg}) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: #{$screen-xl}) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (min-width: #{$screen-2xl}) {
      @content;
    }
  }
}
