@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins.scss' as *;

.trending__skills {
  padding: $padding-body;
  margin-bottom: 60px;

  .content__text {
    padding: 30px 0px 20px 0px;
  }

  .trending__skillsets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skillList {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

@media only screen and (max-width: $screen-sm) {
  .trending__skillsets {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3em;
  }

  .skillList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .skills > span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  .trending__skillsets {
    gap: 5em;
  }
}
